@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
}
.nav {
  height: 100px;
  background-color: #4fbdba;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn {
  background-color: #4fbdba;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  background-color: #ff5959;
}
.btn :focus {
  outline: none;
}
.footer {
  background-color: #4fbdba;
  display: flex;
  justify-content: center;
  /* horizontal movement */
  align-items: center;
}
.footer-para {
  color: #f7f7f7;
  font-weight: 600;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
span {
  color: red;
}
